/* Colors */

$color-slate: #38474D;
$color-night: #282a36;
$color-granite: #232323;
$color-lavender: #b9a9fc;

$color-class: #79c36a;
$color-punc: #fff; /*punctuation*/
$color-attr: #72cee6; /*attribute*/
$color-num: #bb92c3; /*number*/
$color-meas: #ea7eb2; /*measurement*/
$color-comm: #869AC1; /* comments */

$color-youtube: #bb5151;
$color-treehouse: #5fcf80;
$color-facebook: #3b5998;
$color-linkedin: #007bb6;
$color-twitter: #00aced;
$color-instagram: #125688;
/* Break Points */